**/raw_downloads/**
**/.DS_Store
**/__*
*.log
logs/
**/dataset/dataset_text_sequence/C*/
**/dataset/dataset_model_sequence/C*/
**/dataset/dataset_model_sequence/*C0*/
**/undated.json
**/nltk_data/
output/
*.pickle
libs/moralchoice/data/
libs/llama_factory/data/C0*.json
libs/llama_factory/data/ppo_hh.json
libs/llama_factory/data/hh-rw0.json
src/moralchoice/
src/evaluation/raw_dataset/hh-rlhf
src/evaluation/raw_dataset/**/generated.csv
src/evaluation/raw_dataset/**/prototypecopy.csv
src/evaluation/assets/data/input_alpaca.json
src/evaluation/assets/data/moralchoice_alpaca.json
src/evaluation/assets/data/responses
src/evaluation/assets/data/scenarios
src/evaluation/assets/input_alpaca.json
src/evaluation/assets/_input_alpaca_copy.json
algorithms/utils/hh-rlhf
*output*.json
*histext*.json
wandb/
trash_output*
doc/
doc38/
# Do not ignore __init__.py files
!**/__init__.py
src/for_organizing