wheel
tqdm
bs4
# vllm>0.4.0 # strictly required
ray
lxml
nltk
yajl
numpy
pandas
gensim
nvitop
seaborn
argparse
guidance
deepspeed
Levenshtein
jsonstreamer
transformers>=4.40.0
seaborn
sglang[all]

# -r ./libs/llama_factory/requirements.txt
# -r ./libs/moralchoice/requirements.txt
